<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>
    <main>
        <h1>
            This is the home page!
        </h1>
        <h5>Try to look around</h5>

        <p>Below element is not served by a dynamic express file but an static JS file served by <b>Express JS</b></p>
        <div id = "clock" onload="currentTime()"></div>
    </main>

    <script src="/js/ticker.js"></script>
</body>
</html>