<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>

    <main>
        <h1>
            This is the users page
        </h1>
        <ul>
            <li>Zacarías</li>
            <li>Mateo</li>
            <li>Juan</li>
            <li>Andres</li>
            <li>Miguel</li>
            <li>Jorge</li>
        </ul>
    </main>
</body>
</html>